# Vue / Node
frontend-dashboard/node_modules/
frontend-dashboard/dist/
frontend-dashboard/.env

# Python / FastAPI
backend-api/__pycache__/
backend-api/.venv/
backend-api/.env
*.pyc

# Jupyter / Checkpoints
research/.ipynb_checkpoints/

# OS Files
.DS_Store
